@import url('https://fonts.googleapis.com/css?family=Expletus+Sans|Noto+Sans&display=swap');

/*
HEADERS:
    font-family: 'Expletus Sans', cursive;
PARAGRAPH/OTHER:
    font-family: 'Noto Sans', sans-serif;
*/

/********Lazy Browser Reset*********/
* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #f5fdff 100%);
  font-family: 'Noto Sans', sans-serif;
  padding: 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Expletus Sans', cursive;
}

h1 {
  color: #1E373D;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

h2 {
  font-weight: 500;
  font-size: 28px;
}

h3 {
  font-weight: normal;
  font-size: 24px;
}

/**********HEADER************/
header {
  display: flex;
}

header h1 {
  flex: 2;
  text-align: right;
  padding-top: 1.4rem;
}


/**********CARD STYLES***********/

.card {
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin: 1rem auto;
  min-height: 225px;
  padding: .5rem;
  width: 100%;
}

.img-wrapper {
  border-radius: 3px;
  float: right;
  height: 125px;
  margin-top: 6px;
  margin-left: 6px;
  width: 125px;
  overflow: hidden;
}

.img-wrapper img {
  height: auto;
  width: 125px;
}

.card h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.card a {
  clear: both;
}

.card p {
  color: #333;
}

.card h2 + p {
  color: #666;
  margin-top: 0;
  margin-bottom: 5px;
}

/********FORM STYLING********/

/*

Make sure spacing between fields is consistent


*/
form {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  width: 100%;
}

.edit {
  cursor: pointer;
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

select {
  background: #9EC0C8;
  background-image: url(/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 15px top 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-size: 18px;
  color: #1E373D;
  margin: .5rem 0;
  padding: .5rem 1rem;
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

option {
  background: #fff;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label {
  font-size: 18px;
  color: #1E373D;
}

label[for=zipcode],
label[for=distance] {
  background: #9EC0C8;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: inline-block;
  margin: .5rem 0;
  padding: .5rem 1rem;
  width: 100%;
}

#zipcode,
#distance {
  border-radius: 3px;
  position: absolute;
  text-align: right;
  padding-right: .5rem;
  max-width: 170px;
}

#zipcode {
  right: 6%;
  top: 17px;
  
}

#distance {
  right: 6%;
  top: 73px;
 
}

input[type=submit] {
  background: #D47D9E;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: Expletus Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  padding: .25rem 0;
  padding-bottom: 0;
  width: 91.5%;

  position: fixed;
  bottom: 5%;

  text-transform: uppercase;

}

.edit {
  background-color: #9EC0C8;
  color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-family: Expletus Sans;
  font-style: normal;
  font-weight: bold;
  padding: .5rem;
  padding-bottom: .25rem;
  width: 100%;

  text-transform: uppercase;
}

/********PAGINATION************/
.pagination {
  background-color: rgba(255,255,255,.6);
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 500px;
  bottom: 0;
}

.pagination p,
.pagination button {
  flex: 1;
  text-align: center;
}

.pagination p {
  color: #1E373D;
  font-family: Expletus Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: .25rem 0;
}

.pagination button {
  background: #D47D9E;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: Expletus Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: .25rem;
  padding-bottom: 0;

  text-transform: uppercase;

}

/*******LOADING SPINNER*********/
.lds-ring {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #D47D9E;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #D47D9E transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 450px) {
  input[type=submit] {
    margin-top: 6px;
    position: relative;
    width: 100%;
  }

  #animals {
    display: flex;
    flex-wrap: wrap;
    
  }

  #animals .card {
    flex-basis: 48%;
    margin-bottom: 5px;
  }

  .pagination {
    left: 23%;
  }

  header {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  #animals .card {
    flex-basis: 32%;
  }
}
