@import url('https://fonts.googleapis.com/css?family=Expletus+Sans|Noto+Sans&display=swap');

/*
HEADERS:
    font-family: 'Expletus Sans', cursive;
PARAGRAPH/OTHER:
    font-family: 'Noto Sans', sans-serif;
*/

/********Lazy Browser Reset*********/
* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: 'Noto Sans', sans-serif;
  padding: 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Expletus Sans', cursive;
}

h1 {
  color: #1E373D;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

h2 {
  font-weight: 500;
  font-size: 30px;
}

h3 {
  font-weight: normal;
  font-size: 24px;
}

/**********HEADER************/
header {
  display: flex;
}

header h1 {
  flex: 2;
  text-align: right;
  padding-top: 1.4rem;
}


/**********CARD STYLES***********/

/*
Make header font sizes slightly smaller
differentiate categories text by making it smaller/lighter
padding for tiles

*/
.card {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin: 1rem auto;
  min-height: 250px;
  padding: .5rem;
  width: 100%;
}

.img-wrapper {
  float: left;
  height: 125px;
  width: 125px;
  overflow: hidden;
}

.img-wrapper img {
  height: auto;
  width: 125px;
}

/********FORM STYLING********/

/*

Make sure spacing between fields is consistent


*/
form {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  width: 100%;
}

select {
  background: #9EC0C8;
  background-image: url(/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 15px top 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-size: 18px;
  color: #1E373D;
  margin: .5rem 0;
  padding: .5rem 1rem;
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

option {
  background: #fff;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label {
  font-size: 18px;
  color: #1E373D;
}

label[for=zipcode],
label[for=distance] {
  background: #9EC0C8;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: inline-block;
  margin: .5rem 0;
  padding: .5rem 1rem;
  width: 100%;
}

#zipcode,
#distance {
  border-radius: 3px;
  position: absolute;
  text-align: right;
  padding-right: .5rem;
}

#zipcode {
  right: 6%;
  top: 17px;
  width: 150px;
}

#distance {
  right: 6%;
  top: 73px;
  width: 100px;
}

input[type=submit] {
  background: #D47D9E;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: Expletus Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  padding: .25rem 0;
  width: 91.5%;

  position: fixed;
  bottom: 5%;

}

/********PAGINATION************/
.pagination {
  background-color: rgba(255,255,255,.6);
  display: flex;
  position: fixed;
  width: 91.5%;
  bottom: 0;
}

.pagination p,
.pagination button {
  flex: 1;
  text-align: center;
}

.pagination p {
  color: #1E373D;
  font-family: Expletus Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: .25rem 0;
}

.pagination button {
  background: #D47D9E;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: Expletus Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: .25rem 0;
}

/*******LOADING SPINNER*********/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #D47D9E;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #D47D9E transparent transparent transparent;

  /*Spinner Position*/
  top: 150%;
  left: 220%;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
